{% load i18n %}

<div class="col-md-8" ng-controller="MultipleDrugsCheckerCtrl">
    <div id="checkerModal" class="modal fade" tabindex="-1" role="dialog"></div>

    <!-- Drug search box -->
    <div id="drugSearchBox" class="box box-solid box-primary">
        <div class="box-header">
            <div class="row">
                <div class="box-header-form col-xs-12 col-sm-6">
                    <div class="form-group has-feedback">
                        <input class="form-control" type="text" name="name" value="" placeholder="{% trans 'Search' %}..." autocomplete>
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 box-header-options" ng-show="checker.selectedDrugs.length > 1">
                    <a class="btn btn-app btn-header" ng-click="clearSelectedDrugs()"><i class="glyphicon glyphicon-erase" aria-hidden="true"></i> {% trans 'Clear all' %}</a>
                    <a class="btn btn-app btn-header" ng-click="exportChecker()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> {% trans 'Export' %}</a>
                    <a class="btn btn-app btn-header" data-toggle="modal" data-target="#checkerModal" ng-click="openSaveModal($event)"><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans 'Save' %}</a>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="info-text" ng-show="!checker.selectedDrugs.length">
                    {% trans 'No selected drug' %}.
                </div>
                <div class="col-sm-7">
                    <div class="chips-container">
                        <selected-drug ng-repeat="drug in checker.selectedDrugs" model="drug" remove="removeSelectedDrug" single="viewAllInteractions" index="$index" message="{% trans 'View all drug interactions for' %}"></selected-drug>
                    </div>
                </div>
            </div>
        </div>
        <!-- Overlay -->
        <div class="overlay" ng-if="loading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>

    <!-- Interactions box -->
    <div id="interactionsBox" class="box box-solid box-primary">
        <div class="box-header">
            <h3 class="box-title">
                <ng-pluralize count="checker.interactions.length"
                              when="{'0': '{% trans 'No interactions found' %}',
                                     '1': '{} {% trans 'interaction found' %}',
                                     'other': '{} {% trans 'interactions found' %}'}">
                </ng-pluralize>
            </h3>
        </div>
        <div class="box-body" ng-show="checker.interactions.length">
            <div class="row">
                <div class="col-sm-12">
                    <div ng-repeat="interaction in checker.interactions | orderBy: '-type'">
                        <interaction model="interaction" evidence-label="{% trans 'Evidence' %}" action-label="{% trans 'Action' %}" explanation-label="{% trans 'Explanation' %}"></interaction>
                    </div>
                </div>
            </div>
        </div>
        <!-- Overlay -->
        <div class="overlay" ng-if="loading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</div>
