/* General
---------------------------------------------*/
@font-face {
    font-family: LetterGothicStd;
    src: url("/static/fonts/LetterGothicStd.otf") format("opentype");
}

@font-face {
    font-family: LetterGothicStd;
    font-weight: bold;
    src: url("/static/fonts/LetterGothicStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: AndaleMono;
    src: url("/static/fonts/ANDALEMO.ttf") format("truetype");
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #ecf0f5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", sans-serif;
}

a {
    color: #38a1a1;
    cursor: pointer;
}


/* Template Override
---------------------------------------------*/
/* wrapper */
.skin-keppel .wrapper, .skin-keppel .main-sidebar, .skin-keppel .left-side {
    background-color: inherit;
}
/* content-wrapper */
.content-wrapper {
    margin-left: 0;
}
/* user-header */
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: inherit;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header p {
    color: #fff;
    font-weight: 700;
    font-size: 19px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header small {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body a {
    color: #38a1a1 !important;
}
/* btn */
.btn,
ul.nav > li > a {
    -webkit-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
    transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}
/* has-feedback */
.has-feedback.has-error > .form-control-feedback {
    color: #a94442;
}
.box-header .form-control-feedback {
    color: #777;
}
/* overlay */
.box .overlay > .fa {
    color: #38a1a1;
}
/* user */
@media (max-width: 768px) {
    .main-header .navbar .nav>li.user>a>.fa, .main-header .navbar .nav>li.user>a>.glyphicon, .main-header .navbar .nav>li.user>a>.ion {
        margin-right: 0;
    }
}
li.user-menu > a:hover,
li.user-menu > a:focus,
li.user-menu > a:active,
li.user-menu.active > a {
    color: #fff !important;
}
/* user-paanel */
.user-panel {
    min-height: 70px;
}
.user-panel::before {
    content: none;
}
.user-panel>.info {
    text-align: center;
}
.user-panel>.image{
    padding: 10px;
}
.user-panel>.image .glyphicon,
.user-panel>.image .fa {
    color: #fff;
    font-size: 30px;
}
/* select2 */
.select2-container {
    width: 100%!important;
}
/* main-header */
.main-header {
    box-shadow: 0 7px 10px -4px rgba(0,0,0,.2);
}
/* collapse */
.row.fa-plus {
    content: none;
}
/* box-title */
.box-title {
    font-weight: 700;
    text-transform: capitalize;
}
/* box-header */
.box-header > h1, h2, h3, h4, h5 {
    font-weight: 700;
    margin-top: 0;
}
/* dataTables_total */
.dataTables_total {
    line-height: 34px;
}

/* logo
---------------------------------------------*/
.main-header .logo {
    background-color: rgba(255,255,255, 1) !important;
}
.main-header .logo .logo-lg img {
    width: 200px;
    height: 50px;
    padding-bottom: 7px;
}


/* login
---------------------------------------------*/
.modal-content {
    border-style: solid;
    border-width: 0 3px 3px 3px;
    border-color: #38a1a1;
}
.modal-header {
    background-color: #38a1a1;
    color: #fff;
}
.modal-header p {
    color: rgba(255, 255, 255, 0.8);
}
.modal-body {
    background-color: #fff;
}
.modal-footer {
    background-color: #fff;
}


/* login
---------------------------------------------*/
.login-logo {
    margin-bottom: 15px;
}
.login-page {
    background-image: linear-gradient(to right, #38a1a1 0%, #6bb2b5 60%);
    background-repeat: repeat-x;
}
.login-helper {
    text-align: right;
    margin-bottom: 15px;
}
.login-box-msg {
    padding-top: 15px;
}
.login-box-body {
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}


/* ui-widget
---------------------------------------------*/
.ui-widget {
    font-family: inherit;
}


/* explanation-tooltip
---------------------------------------------*/
.explanation-tooltip {
    color: #ccc !important;
}
.explanation-tooltip:hover,
.explanation-tooltip:active {
    color: #777 !important;
}


/* text-alignment
---------------------------------------------*/
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}


/* content-app
---------------------------------------------*/
.content-app {
    padding: 5px;
    min-width: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 12px;
}
.content-app > .fa,
.content-app > .glyphicon,
.content-app > .ion {
    font-size: 20px;
    display: block;
}
.content-app > .badge {
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400;
}


/* label-app
---------------------------------------------*/
.label-app {
    padding: .2em .6em .3em;
    font-size: 70%;
    font-weight: 700;
    color: #fff;
    text-align: center;
    vertical-align: baseline;
    border-radius: .25em;
}
@media (min-width: 500px) {
    .label-app {
        font-size: 85%;
    }
}
.label-app-helper {
    padding-left: 0;
}


/* box
---------------------------------------------*/
.box-header .form-group {
    margin-bottom: 0;
}


/* center
---------------------------------------------*/
.center {
    padding: 70px 0;
    text-align: center;
}


/* clickable
---------------------------------------------*/
.clickable {
    cursor: pointer;
}


/* info-text
---------------------------------------------*/
.info-text {
    font-size: 18px;
    line-height: 45px;
    text-align: center;
}


/* app-menu-item
---------------------------------------------*/
li.app-menu-item > a {
    padding: 12px 12px 12px 12px !important;
}
li.app-menu-item > a > img {
    height: 26px;
}



/* box-header-form
---------------------------------------------*/
.box-header-form input[type='text'] {
    background-color: #40b7b7;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
}
.box-header-form .has-feedback .form-control-feedback {
    color: #fff;
}
.box-header-form .form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
.box-header-form .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
.box-header-form .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
.box-header-form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff;
}


/* box-header-options
---------------------------------------------*/
.box-header-options {
    text-align: center;
    padding-top: 15px;
}
@media (min-width: 768px) {
    .box-header-options {
        text-align: right;
        padding-top: 0;
    }
}


/* Data tables
---------------------------------------------*/
/* thead */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-color: #38a1a1;
    cursor: inherit !important;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead th.sorting,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc,
table.dataTable thead th.sorting a,
table.dataTable thead th.sorting_asc a,
table.dataTable thead th.sorting_desc a {
    color: #fff;
}
table.dataTable thead .sorting a,
table.dataTable thead .sorting_asc a,
table.dataTable thead .sorting_desc a {
    display: inline-block;
    width: 100%;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    opacity: 1 !important;
}
table.dataTable > tbody > tr > td {
    vertical-align: middle;
}


/* Interactions
---------------------------------------------*/
/* icons */
.unknown_severity_interaction>.fa:before {
    content: "\f29c";
}
.severe_interaction>.fa:before {
    content: "\f071";
}
.moderate_interaction>.fa:before {
    content: "\f119";
}
.mild_interaction>.fa:before {
    content: "\f11a";
}
.nothing_expected>.fa:before {
    content: "\f118";
}
/* labels */
.unknown_severity_interaction>.severity-text:before {
    content: "Gravidade desconhecida";
}
.severe_interaction>.severity-text:before {
    content: "Grave";
}
.moderate_interaction>.severity-text:before {
    content: "Moderada";
}
.mild_interaction>.severity-text:before {
    content: "Leve";
}
.nothing_expected>.severity-text:before {
    content: "Nada esperado";
}


/* box-interaction */
.box-interaction.box-solid > .box-header {
    color: #fff;
}
.box-interaction > .box-body p {
    font-size: 16px;
    margin-bottom: 0;
}
.box-interaction > .box-header > .box-title .fa{
    margin: 0 5px;
}
.box-interaction > .box-header .severity-text {
    font-size: 16px;
    font-weight: 700;
}
@media (max-width: 768px) {
    .box-interaction > .box-body p {
        font-size: 14px;
    }
    .box-interaction > .box-header > .box-title {
        font-size: 16px;
    }
    .box-interaction > .box-header .severity-text {
        font-size: 14px;
    }
    .box-interaction > .box-header .pull-right {
        float: none !important;
    }
}
/* boxes */
.box-interaction.box-solid.unknown_severity_interaction {
    border: 1px solid #777;
}
.box-interaction.box-solid.unknown_severity_interaction > .box-header {
    background: #777;
    background-color: #777;
}
.box-interaction.box-solid.severe_interaction {
    border: 1px solid #d9534f;
}
.box-interaction.box-solid.severe_interaction > .box-header {
    background: #d9534f;
    background-color: #d9534f;
}
.box-interaction.box-solid.moderate_interaction {
    border: 1px solid #f0ad4e;
}
.box-interaction.box-solid.moderate_interaction > .box-header {
    background: #f0ad4e;
    background-color: #f0ad4e;
}
.box-interaction.box-solid.mild_interaction {
    border: 1px solid #5bc0de;
}
.box-interaction.box-solid.mild_interaction > .box-header {
    background: #5bc0de;
    background-color: #5bc0de;
}
.box-interaction.box-solid.nothing_expected {
    border: 1px solid #5cb85c;
}
.box-interaction.box-solid.nothing_expected > .box-header{
    background: #5cb85c;
    background-color: #5cb85c;
}
/* label-app colors*/
.label-app.unknown_severity_interaction {
    background-color: #777;
}
.label-app.severe_interaction {
    background-color: #d9534f;
}
.label-app.moderate_interaction {
    background-color: #f0ad4e;
}
.label-app.mild_interaction {
    background-color: #5bc0de;
}
.label-app.nothing_expected {
    background-color: #5cb85c;
}


/* btn-header
---------------------------------------------*/
.btn.btn-header {
    border-width: 0.10em;
}
.btn-header {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.btn-header:focus,
.btn-header.focus {
    color: #fff;
    background-color: #38a1a1!important;
    border-color: #fff!important;
    outline: 0;
}
.btn-header:hover {
    color: #38a1a1!important;
    background-color: #fff!important;
    border-color:  #fff;
}
.btn-header.active {
    color: #38a1a1!important;
    background-color: #fff!important;
    border-color:  #fff;
}

/* btn icons margin
---------------------------------------------*/
.btn-primary .fa, .btn-primary .glyphicon, .btn-primary .icon,
.btn-default .fa, .btn-default .glyphicon, .btn-default .icon,
.btn-success .fa, .btn-success .glyphicon, .btn-success .icon,
.btn-danger  .fa, .btn-danger  .glyphicon, .btn-danger  .icon,
.btn-warning .fa, .btn-warning .glyphicon, .btn-warning .icon,
.btn-header  .fa, .btn-header  .glyphicon, .btn-header  .icon {
    margin-right: 5px;
}
.btn-app .fa,
.btn-app .glyphicon,
.btn-app .icon {
    margin-right: 0 !important;
}


/* result
---------------------------------------------*/
.result-info {
    background-color: #38a1a1;
    color: #fff;
    border-radius: 4px;
    padding: 6px;
}
.result-row {
    margin-bottom: 10px;
    text-align: right;
}


/* ui-autocomplete
---------------------------------------------*/
.ui-menu {
    font-family: inherit;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ui-menu-item .ui-state-active  {
    border: 1px solid #38a1a1;
    background: #38a1a1;
    font-weight: normal;
    color: #fff;
}
.ui-autocomplete-item-title {
    color: #38a1a1;
    font-size: 16px;
}
.ui-menu-item .ui-state-active .ui-autocomplete-item-title {
    color: #fff;
}
.ui-autocomplete-item-subtitle {
    font-size: 14px;
}


/* list-info
---------------------------------------------*/
.list-info-title {
    color: #38a1a1;
}
ul.list-info {
    padding-left:10px;
}
ul.list-info > li {
    list-style: none;
    margin-bottom: 7px;
}
ul.list-info > li:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e080";
    margin-right: 3px;
    color: #38a1a1;
}


/* list-group-item
---------------------------------------------*/
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group-item ul.list-info {
    padding-left: 0;
}


/* list-group-site
---------------------------------------------*/
.list-group-site ul.list-info > li {
    margin-bottom: 0;
}
.list-group-site p.list-group-item-text{
    margin-bottom: 5px;
}
.list-group-site a.list-group-item {
    cursor: pointer;
}
.list-group-site .list-group-item-heading,
.list-group-site a.list-group-item .list-group-item-heading {
    color: #38a1a1;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 15px;
}
.list-group-options {
    padding: 0 0 10px 0;
}
.list-group-options-title {
    line-height: 35px;
}


/* list-card-operation
---------------------------------------------*/
.list-card-operation-container {
    visibility: hidden;
}
.list-card-operation {
    background-color: #f5f5f5;
    background-clip: padding-box;
    background-origin: padding-box;
    border-radius: 3px;
    opacity: .8;
    padding: 4px;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 40;
}
.list-card-operation:last-child {
    margin-right: 25px;
}
.list-card-operation-visible {
    visibility: visible;
}
.list-card-operation:hover {
    background-color: rgba(214, 218, 217, 0.75);
    opacity: 1;
}


/* icon-sm
---------------------------------------------*/
.icon-sm {
    font-size: 15px;
    color: #999;
}


/* dark-hover
---------------------------------------------*/
.dark-hover:hover {
    color:#4d4d4d;
}


/* chip
---------------------------------------------*/
.chip {
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    border: 0;
    border-radius: 16px;
    background-color: #dedede;
    display: inline-block;
    color: rgba(0,0,0, 0.87);
    margin: 2px 0;
    font-size: 0;
    white-space: nowrap;
}
.chip-text {
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
}
.chip-action {
    height: 24px;
    width: 24px;
    background: transparent;
    opacity: 0.54;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    margin-left: 4px;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0,0,0, 0.87);
    border: none;
    outline: none;
    overflow: hidden;
}
.chip-contact {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
}
.chip:focus {
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.chip:active {
    background-color: #d6d6d6;
}
.chip-deletable {
    padding-right: 4px;
}
.chip-contact {
    padding-left: 0;
}


/* chip-lg
---------------------------------------------*/
.chip-lg .chip-text {
    font-size: 15px;
}


/* chips-container
---------------------------------------------*/
.chips-container {
    text-align: left;
}
@media (max-width:768px) {
    .chips-container {
        text-align: center;
    }
}
.chips-container > .chip{
    margin-right: 10px;
}


/* Bootstrap Pagination */
.pagination > li > a,
.pagination > li > span {
  color: #38a1a1;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #38a1a1;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #ffffff;
  background-color: #38a1a1;
  border-color: #38a1a1;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #dddddd;
  background-color: #ffffff;
  border-color: #dddddd;
}
