@font-face {
    font-family: LetterGothicStd;
    src: url("/static/fonts/LetterGothicStd.otf") format("opentype");
}

@font-face {
    font-family: LetterGothicStd;
    font-weight: bold;
    src: url("/static/fonts/LetterGothicStd-Bold.otf") format("opentype");
}

body {
    font-family: LetterGothicStd;
    background-color: #f2f2f2;
}

textarea {
    resize: vertical;
}

a {
    color: #1fa67a;
}

a:hover,
a:focus {
    color: #1a6d52;
}

@media (min-width: 768px)
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}


/* box
---------------------------------------------*/
.box {
    margin: 15px 0;
}
.box-xs {
    width: 700px;
}
.box-body {
    background-color: #fff;
    padding: 15px;
    border-style: solid;
    border-color: #ccc;
    border-width: 0 1px 1px 1px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-body-xs {
    min-height: 255px;
}
.box-row {
    padding: 0 0 10px 0;
}
.box-title {
    color: #fff;
    background-color: #1fa67a;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}
.box-title > h1,
.box-title > h2,
.box-title > h3,
.box-title > h4,
.box-title > h5,
.box-title > div > h1,
.box-title > div > h2,
.box-title > div > h3,
.box-title > div > h4,
.box-title > div > h5 {
    margin: 0;
    line-height: 30px;
    text-shadow: 2px 2px #1f8048;
}


/* section
---------------------------------------------*/
.section {
    padding: 30px 0;
}

/* navbar-fixed-top-space
---------------------------------------------*/
.navbar-fixed-top-space {
    margin-bottom: 50px;
}


/* loading-box
---------------------------------------------*/
.jumbotron {
    background-color: transparent;
    text-align: center;
}
.loading-box {
    color: #1fa67a;
}
.loading-icon {
    margin-bottom: 10px;
    color: #1fa67a;
}
.loading-icon-sm {
    font-size: 7px;
}
.fast-spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}


/* talign
---------------------------------------------*/
.talign-rigth {
    text-align: right;
}
.talign-left {
    text-align: left;
}
.talign-center {
    text-align: center;
}


/* result
---------------------------------------------*/
.result-info {
    background-color: #1fa67a;
    color: #fff;
    border-radius: 4px;
    padding: 6px;
}
.result-row {
    margin-bottom: 10px;
    text-align: right;
}


/* ui-autocomplete
---------------------------------------------*/
.ui-menu {
    font-family: LetterGothicStd;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ui-menu-item .ui-state-active  {
    border: 1px solid #1f8048;
    background: #1fa67a;
    font-weight: normal;
    color: #fff;
}
.ui-autocomplete-item-title {
    color: #1fa67a;
}
.ui-menu-item .ui-state-active .ui-autocomplete-item-title {
    color: #fff;
}
.ui-autocomplete-item-subtitle {
    font-size: 10px;
}

/* list-info
---------------------------------------------*/
.list-info-title {
    color: #1fa67a;
}
ul.list-info {
    padding-left:10px;
    font-size: 13px;
}
ul.list-info > li {
    list-style: none;
    margin-bottom: 7px;
}
ul.list-info > li:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e080";
    margin-right: 3px;
    color: #1fa67a;
}


/* list-group-site
---------------------------------------------*/
.list-group-site ul.list-info {
    padding-left: 0;
}
.list-group-site ul.list-info > li {
    font-size: 12px;
    margin-bottom: 0;
}
.list-group-site p.list-group-item-text{
    font-size: 12px;
    margin-bottom: 5px;
}
.list-group-site a.list-group-item {
    cursor: pointer;
}
.list-group-site .list-group-item-heading,
.list-group-site a.list-group-item .list-group-item-heading {
    color: #1fa67a;
    margin-bottom: 0;
}
.list-group-options {
    padding: 0 0 10px 0;
}
.list-group-options-title {
    line-height: 35px;
}
.list-card-operation-container {
    visibility: hidden;
}
.list-card-operation {
    background-color: #f5f5f5;
    background-clip: padding-box;
    background-origin: padding-box;
    border-radius: 3px;
    opacity: .8;
    padding: 4px;
    position: absolute;
    right: 3px;
    top: 3px;
    z-index: 40;
}
.list-card-operation:last-child {
    margin-right: 25px;
}
.list-card-operation-visible {
    visibility: visible;
}
.list-card-operation:hover {
    background-color: rgba(214, 218, 217, 0.75);
    opacity: 1;
}


/* icon-sm
---------------------------------------------*/
.icon-sm {
    font-size: 15px;
    color: #999;
}


/* dark-hover
---------------------------------------------*/
.dark-hover:hover {
    color:#4d4d4d;
}


/* empty-info
---------------------------------------------*/
.empty-info-container {
    position: relative;
    height: 229px;
    text-align: center;
}
.empty-info-content {
    width: 280px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}


/* bs-callout
---------------------------------------------*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}


/* label-interacts
---------------------------------------------*/
.unknown_severity_interaction {
    background-color: #777;
}
.severe_interaction {
    background-color: #d9534f;
}
.moderate_interaction {
    background-color: #f0ad4e;
}
.mild_interaction {
    background-color: #5bc0de;
}
.nothing_expected {
    background-color: #5cb85c;
}


/* chip
---------------------------------------------*/
.chip {
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    border: 0;
    border-radius: 16px;
    background-color: #dedede;
    display: inline-block;
    color: rgba(0,0,0, 0.87);
    margin: 2px 0;
    font-size: 0;
    white-space: nowrap;
}
.chip-text {
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
}
.chip-action {
    height: 24px;
    width: 24px;
    background: transparent;
    opacity: 0.54;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    margin-left: 4px;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0,0,0, 0.87);
    border: none;
    outline: none;
    overflow: hidden;
}
.chip-contact {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
}
.chip:focus {
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.chip:active {
    background-color: #d6d6d6;
}
.chip-deletable {
    padding-right: 4px;
}
.chip-contact {
    padding-left: 0;
}

/* table-site
---------------------------------------------*/
.table-site>thead {
    font-family: LetterGothicStd;
    background-color: #1fa67a;
    color: #fff;
}
.table-site th.sortable>a,
.table-site th.sortable>a:hover {
    text-decoration: none;
    color: #fff;
}
.table-site th.sortable>a:hover {
    text-shadow: 2px 2px #1f8048;
}
.table-site th.sortable {
    min-width: 130px;
    max-width: 300px;
}
.table-site>thead>tr>th.sortable {
    border-bottom: 0;
}
.table-site>tbody>tr>td,
.table-site>tbody>tr>th,
.table-site>tfoot>tr>td,
.table-site>tfoot>tr>th,
.table-site>thead>tr>td,
.table-site>thead>tr>th {
    border-top: 0;
}
.table-site>thead{
    border: 1px solid #1fa67a;
}
.table-site>tbody {
    border-style: solid;
    border-color: #cccccc;
    border-width: 0 1px 1px 1px;
}
.table-site-info {
    line-height: 80px;
}


/* btn-full
---------------------------------------------*/
.btn-full {
    width: 100%;
}


/* btn-header
---------------------------------------------*/
.btn.btn-header {
    border-width: 0.10em;
}
.btn-header {
    color: #fff;
    background-color: #1fa67a;
    border-color: #fff;
}
.btn-header:focus,
.btn-header.focus {
    color: #fff;
    background-color: #1fa67a;
    border-color: #fff;
    outline: 0;
}
.btn-header:hover {
    color: #1fa67a;
    background-color: #fff;
    border-color:  #fff;
}
.btn-header:active,
.btn-header.active,
.open > .dropdown-toggle.btn-header {
    color: #1fa67a;
    background-color: #fff;
    border-color:  #fff;
}
.btn-header:active:hover,
.btn-header.active:hover,
.open > .dropdown-toggle.btn-header:hover,
.btn-header:active:focus,
.btn-header.active:focus,
.open > .dropdown-toggle.btn-header:focus,
.btn-header:active.focus,
.btn-header.active.focus,
.open > .dropdown-toggle.btn-header.focus {
    color: #1fa67a;
    background-color: #fff;
    border-color:  #fff;
}
.btn-header:active,
.btn-header.active,
.open > .dropdown-toggle.btn-header {
    background-image: none;
}
.btn-header.disabled:hover,
.btn-header[disabled]:hover,
fieldset[disabled] .btn-header:hover,
.btn-header.disabled:focus,
.btn-header[disabled]:focus,
fieldset[disabled] .btn-header:focus,
.btn-header.disabled.focus,
.btn-header[disabled].focus,
fieldset[disabled] .btn-header.focus {
    background-color: #fff;
    border-color:  #fff;
}
.btn-header .badge {
    color: #1fa67a;
    background-color: #fff;
}


/* btn-system
---------------------------------------------*/
.btn-system {
    color: #fff;
    background-color: #1fa67a;
    border-color: #1b926c;
}
.btn-system:focus,
.btn-system.focus {
    color: #fff;
    background-color: #1b926c;
    border-color:  #1a6d52;
}
.btn-system:hover {
    color: #fff;
    background-color: #1b926c;
    border-color: #1a6d52;
}
.btn-system:active,
.btn-system.active,
.open > .dropdown-toggle.btn-system {
    color: #fff;
    background-color:  #1b926c;
    border-color: #1a6d52;
}
.btn-system:active:hover,
.btn-system.active:hover,
.open > .dropdown-toggle.btn-system:hover,
.btn-system:active:focus,
.btn-system.active:focus,
.open > .dropdown-toggle.btn-system:focus,
.btn-system:active.focus,
.btn-system.active.focus,
.open > .dropdown-toggle.btn-system.focus {
    color: #fff;
    background-color: #1b926c;
    border-color: #1f8048;
}
.btn-system:active,
.btn-system.active,
.open > .dropdown-toggle.btn-system {
    background-image: none;
}
.btn-system.disabled:hover,
.btn-system[disabled]:hover,
fieldset[disabled] .btn-system:hover,
.btn-system.disabled:focus,
.btn-system[disabled]:focus,
fieldset[disabled] .btn-system:focus,
.btn-system.disabled.focus,
.btn-system[disabled].focus,
fieldset[disabled] .btn-system.focus {
    background-color: #1b926c;
    border-color: #1f8048;
}
.btn-system .badge {
    color: #1b926c;
    background-color: #fff;
}




/* login
---------------------------------------------*/
.login-help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #737373;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
