<div>
    <div class="list-group-item-heading">{[{ ::model.startNode }]} + {[{ ::model.endNode }]}</div>
    <p class="list-group-item-text"><span class="label {[{ ::model.type | lowercase }]}">{[{ ::model.type | replaceUnderscores }]}</span></p>
    <p class="list-group-item-text"><strong>{% trans 'Evidence' %}:</strong> {[{ ::model.evidence }]}</p>
    <p class="list-group-item-text"><strong>{% trans 'Action' %}:</strong> {[{ ::model.action }]}</p>
    <p class="list-group-item-text">{[{ ::model.explanation }]}</i></p>
</div>
