<div class="box box-interaction box-solid {[{ ::model.type | lowercase }]}">
    <div class="box-header with-border">
        <h4 class="box-title">{[{ ::model.startNode }]} <i class="fa fa-arrows-h"></i> {[{ ::model.endNode }]}</h4>
        <div class="pull-right {[{ ::model.type | lowercase }]}">
            <span class="severity-text"></span>
        </div>
    </div>
    <div class="box-body">
        <p><strong>{[{ evidenceLabel }]}:</strong> {[{ ::model.evidence }]}</p>
        <p><strong>{[{ actionLabel }]}:</strong> {[{ ::model.action }]}</p>
        <p>{[{ ::model.explanation }]}</i></p>
    </div>
</div>
