<div>
    <div class="list-group-item-heading">
        <div class="row">
            <div class="col-xs-8 col-sm-8">
                {[{ ::model.startNode }]}<br/>{[{ ::model.endNode }]}
            </div>
            <div class="col-xs-4 col-sm-4 text-right">
                <div class="label-app {[{ ::model.type | lowercase }]}">
                    <span class="severity-text"></span>
                </div>
            </div>
        </div>
    </div>
    <p class="list-group-item-text"><strong>{[{ evidenceLabel }]}:</strong> {[{ ::model.evidence }]}</p>
    <p class="list-group-item-text"><strong>{[{ actionLabel }]}:</strong> {[{ ::model.action }]}</p>
    <p class="list-group-item-text"><i>{[{ ::model.explanation }]}</i></i></p>
</div>
