body {
    font-family: 'PT Mono', monospace;
}

.box {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px 0;
}

.filter-form-row {
    padding: 10px 0;
}

.talign-rigth {
    text-align: right;
}
.talign-left {
    text-align: left;
}

/* Table */
.table>thead {
    background-color: #1fa67a;
    color: #fff;
}
th.sortable>a,
th.sortable>a:hover {
    text-decoration: none;
    color: #fff;
}
th.sortable>a:hover {
    text-shadow: 2px 2px #1f8048;
}
th.sortable {
    min-width: 130px;
    max-width: 300px;
}
.table>thead>tr>th.sortable {
    border-bottom: 0;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 0;
}
.table>thead{
    border: 1px solid #1fa67a;
}
.table>tbody {
    border-style: solid;
    border-color: #cccccc;
    border-width: 0 1px 1px 1px;
}
.table-info {
    line-height: 80px;
}

/* Btn system */
.btn-system {
    color: #fff;
    background-color: #1fa67a;
    border-color: #1b926c;
}
.btn-system:focus,
.btn-system.focus {
    color: #fff;
    background-color: #1b926c;
    border-color:  #1a6d52;
}
.btn-system:hover {
    color: #fff;
    background-color: #1b926c;
    border-color: #1f8048;
}
.btn-system:active,
.btn-system.active,
.open > .dropdown-toggle.btn-system {
    color: #fff;
    background-color:  #1b926c;
    border-color: #1f8048;
}
.btn-system:active:hover,
.btn-system.active:hover,
.open > .dropdown-toggle.btn-system:hover,
.btn-system:active:focus,
.btn-system.active:focus,
.open > .dropdown-toggle.btn-system:focus,
.btn-system:active.focus,
.btn-system.active.focus,
.open > .dropdown-toggle.btn-system.focus {
    color: #fff;
    background-color: #1b926c;
    border-color: #1f8048;
}
.btn-system:active,
.btn-system.active,
.open > .dropdown-toggle.btn-system {
    background-image: none;
}
.btn-system.disabled:hover,
.btn-system[disabled]:hover,
fieldset[disabled] .btn-system:hover,
.btn-system.disabled:focus,
.btn-system[disabled]:focus,
fieldset[disabled] .btn-system:focus,
.btn-system.disabled.focus,
.btn-system[disabled].focus,
fieldset[disabled] .btn-system.focus {
    background-color: #1b926c;
    border-color: #1f8048;
}
.btn-system .badge {
    color: #1b926c;
    background-color: #fff;
}
