@font-face {
    font-family: LetterGothicStd;
    src: url("/static/fonts/LetterGothicStd.otf") format("opentype");
}

@font-face {
    font-family: LetterGothicStd;
    font-weight: bold;
    src: url("/static/fonts/LetterGothicStd-Bold.otf") format("opentype");
}

body {
    font-family: LetterGothicStd;
}


/* box
---------------------------------------------*/
.box {
    margin: 15px 0;
}
.box-xs {
    width: 700px;
}
.box-body {
    padding: 15px;
    border: 1px solid #ccc;
}
.box-row {
    padding: 0 0 10px 0;
}
.box-title {
    color: #fff;
    background-color: #1fa67a;
    border-radius: 10px 10px 0 0;
    padding: 15px;
}
.box-title > h1,
.box-title > h2,
.box-title > h3,
.box-title > h4,
.box-title > h5,
.box-title > div > h1,
.box-title > div > h2,
.box-title > div > h3,
.box-title > div > h4,
.box-title > div > h5 {
    margin: 0;
    line-height: 30px;
    text-shadow: 2px 2px #1f8048;
}


/* talign
---------------------------------------------*/
.talign-rigth {
    text-align: right;
}
.talign-left {
    text-align: left;
}


/* ui-autocomplete
---------------------------------------------*/
.ui-menu {
    font-family: LetterGothicStd;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ui-menu-item .ui-state-active  {
    border: 1px solid #1f8048;
    background: #1fa67a;
    font-weight: normal;
    color: #fff;
}
.ui-autocomplete-item-title {
    color: #1fa67a;
}
.ui-menu-item .ui-state-active .ui-autocomplete-item-title {
    color: #fff;
}
.ui-autocomplete-item-subtitle {
    font-size: 10px;
}



/* list-group-site
---------------------------------------------*/
.list-group-site p.list-group-item-text  {
    font-size: 12px;
}
.list-group-site .list-group-item-heading {
    color: #1fa67a;
}
.list-group-options {
    padding: 0 0 10px 0;
}
.list-group-options-title {
    line-height: 35px;
}

/* chip
---------------------------------------------*/
.chip {
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    border: 0;
    border-radius: 16px;
    background-color: #dedede;
    display: inline-block;
    color: rgba(0,0,0, 0.87);
    margin: 2px 0;
    font-size: 0;
    white-space: nowrap;
}
.chip-text {
    font-size: 13px;
    vertical-align: middle;
    display: inline-block;
}
.chip-action {
    height: 24px;
    width: 24px;
    background: transparent;
    opacity: 0.54;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    margin-left: 4px;
    font-size: 13px;
    text-decoration: none;
    color: rgba(0,0,0, 0.87);
    border: none;
    outline: none;
    overflow: hidden;
}
.chip-contact {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
}
.chip:focus {
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.chip:active {
    background-color: #d6d6d6;
}
.chip-deletable {
    padding-right: 4px;
}
.chip-contact {
    padding-left: 0;
}

/* table-site
---------------------------------------------*/
.table-site>thead {
    font-family: LetterGothicStd;
    background-color: #1fa67a;
    color: #fff;
}
.table-site th.sortable>a,
.table-site th.sortable>a:hover {
    text-decoration: none;
    color: #fff;
}
.table-site th.sortable>a:hover {
    text-shadow: 2px 2px #1f8048;
}
.table-site th.sortable {
    min-width: 130px;
    max-width: 300px;
}
.table-site>thead>tr>th.sortable {
    border-bottom: 0;
}
.table-site>tbody>tr>td,
.table-site>tbody>tr>th,
.table-site>tfoot>tr>td,
.table-site>tfoot>tr>th,
.table-site>thead>tr>td,
.table-site>thead>tr>th {
    border-top: 0;
}
.table-site>thead{
    border: 1px solid #1fa67a;
}
.table-site>tbody {
    border-style: solid;
    border-color: #cccccc;
    border-width: 0 1px 1px 1px;
}
.table-site-info {
    line-height: 80px;
}


/* btn-add
---------------------------------------------*/
.btn.btn-add {
    border-radius: 5px;
    border-width: 0.10em;
}
.btn-add {
    color: #fff;
    background-color: #1fa67a;
    border-color: #fff;
}
.btn-add:focus,
.btn-add.focus {
    color: #fff;
    background-color: #1fa67a;
    border-color: #fff;
    outline: 0;
}
.btn-add:hover {
    color: #1fa67a;
    background-color: #fff;
    border-color:  #fff;
}
.btn-add:active,
.btn-add.active,
.open > .dropdown-toggle.btn-add {
    color: #1fa67a;
    background-color: #fff;
    border-color:  #fff;
}
.btn-add:active:hover,
.btn-add.active:hover,
.open > .dropdown-toggle.btn-add:hover,
.btn-add:active:focus,
.btn-add.active:focus,
.open > .dropdown-toggle.btn-add:focus,
.btn-add:active.focus,
.btn-add.active.focus,
.open > .dropdown-toggle.btn-add.focus {
    color: #1fa67a;
    background-color: #fff;
    border-color:  #fff;
}
.btn-add:active,
.btn-add.active,
.open > .dropdown-toggle.btn-add {
    background-image: none;
}
.btn-add.disabled:hover,
.btn-add[disabled]:hover,
fieldset[disabled] .btn-add:hover,
.btn-add.disabled:focus,
.btn-add[disabled]:focus,
fieldset[disabled] .btn-add:focus,
.btn-add.disabled.focus,
.btn-add[disabled].focus,
fieldset[disabled] .btn-add.focus {
    background-color: #fff;
    border-color:  #fff;
}
.btn-add .badge {
    color: #1fa67a;
    background-color: #fff;
}


/* btn-system
---------------------------------------------*/
.btn-system {
    color: #fff;
    background-color: #1fa67a;
    border-color: #1b926c;
}
.btn-system:focus,
.btn-system.focus {
    color: #fff;
    background-color: #1b926c;
    border-color:  #1a6d52;
}
.btn-system:hover {
    color: #fff;
    background-color: #1b926c;
    border-color: #1a6d52;
}
.btn-system:active,
.btn-system.active,
.open > .dropdown-toggle.btn-system {
    color: #fff;
    background-color:  #1b926c;
    border-color: #1a6d52;
}
.btn-system:active:hover,
.btn-system.active:hover,
.open > .dropdown-toggle.btn-system:hover,
.btn-system:active:focus,
.btn-system.active:focus,
.open > .dropdown-toggle.btn-system:focus,
.btn-system:active.focus,
.btn-system.active.focus,
.open > .dropdown-toggle.btn-system.focus {
    color: #fff;
    background-color: #1b926c;
    border-color: #1f8048;
}
.btn-system:active,
.btn-system.active,
.open > .dropdown-toggle.btn-system {
    background-image: none;
}
.btn-system.disabled:hover,
.btn-system[disabled]:hover,
fieldset[disabled] .btn-system:hover,
.btn-system.disabled:focus,
.btn-system[disabled]:focus,
fieldset[disabled] .btn-system:focus,
.btn-system.disabled.focus,
.btn-system[disabled].focus,
fieldset[disabled] .btn-system.focus {
    background-color: #1b926c;
    border-color: #1f8048;
}
.btn-system .badge {
    color: #1b926c;
    background-color: #fff;
}
