{% extends 'base.html' %}
{% load sortable_column %}
{% load bootstrap_pagination %}
{% load humanize %}

{% block title %}
Medicamentos
{% endblock %}


{% block main_content %}
<div class="container">
    {% if objects %}
    <table class="table table-striped">
        <thead>
            <tr>
                {% sortable_column request=request property='name' title='Medicamento'%}
                {% sortable_column request=request property='presentation' title='Apresentação' %}
                {% sortable_column request=request property='laboratory' title='Laboratório' %}
                {% sortable_column request=request property='active_principle' title='Princípio Ativo' %}
                {% sortable_column request=request property='pmc' title='PMC R$' %}
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
            <tr>
                <td>{{ object.name }}</td>
                <td>{{ object.presentation }}</td>
                <td>{{ object.laboratory }}</td>
                <td>{{ object.active_principle }}</td>
                <td>{{ object.pmc | intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center">Nenhum resultado encontrado.</p>
    {% endif %}
    {% if objects.paginator.num_pages > 1 %}
        <div class="text-center">
            {% bootstrap_paginate objects range=10  show_prev_next="false" show_first_last="true" %}
        </div>
    {% endif %}
</div>
{% endblock %}
