{% extends 'base.html' %}

{% block title %}
Interações Medicamentosas | Medicamentos
{% endblock %}


{% block main_content %}
<div class="container">
    <div ng-app="drugInteractions">
        {% include 'drug/multiple_drugs_checker.html' %}
        {% include 'drug/saved_checkers.html' %}
    </div>
</div>

{% endblock %}

{% block main_script %}
<!-- Global variable to hold language code -->
<script type="text/javascript">
    var language = "{{ request.LANGUAGE_CODE | safe }}";
</script>
<script src="/static/js/form.js" charset="utf-8"></script>
<!-- AngularJS -->
<script src="/static/libs/angular/angular.min.js" charset="utf-8"></script>
<!-- Angular UI Bootstrap -->
<script src="/static/libs/angular/ui-bootstrap-tpls-2.1.3.min.js" charset="utf-8"></script>
<script src="/static/libs/angular/angular-cookies.min.js" charset="utf-8"></script>
<!-- App -->
<script src="/static/drug/js/app.js" charset="utf-8"></script>
<!-- Controllers -->
<script src="/static/drug/js/controllers/MultipleDrugsCheckerCtrl.js" charset="utf-8"></script>
<script src="/static/drug/js/controllers/SavedCheckerCtrl.js" charset="utf-8"></script>
<!-- Directives -->
<script src="/static/drug/js/directives/autocomplete.js" charset="utf-8"></script>
<script src="/static/drug/js/directives/selectedDrug.js" charset="utf-8"></script>
<script src="/static/drug/js/directives/interaction.js" charset="utf-8"></script>
<script src="/static/drug/js/directives/savedChecker.js" charset="utf-8"></script>
<!-- Services -->
<script src="/static/drug/js/services/modalService.js" charset="utf-8"></script>
<script src="/static/drug/js/services/checkerApi.js" charset="utf-8"></script>
<!-- Filters -->
<script src="/static/drug/js/filters/replaceUnderscores.js" charset="utf-8"></script>
<script src="/static/drug/js/filters/paginationSlice.js" charset="utf-8"></script>
{% endblock %}
