{% extends 'base.html' %}
{% load i18n %}

{% block title %}
Interações Medicamentosas | Medicamentos
{% endblock %}


{% block main_content %}
<div class="container">
    <div ng-app="drugInteractions">
        <div class="col-sm-8" ng-controller="MultipleDrugsCheckerCtrl">
            <div id="checkerModal" class="modal fade" tabindex="-1" role="dialog"></div>
            <div class="box">
                <div class="box-title">
                    <div class="row">
                        <div class="col-sm-6">
                            {% trans 'Enter a drug' %}:
                            <input class="form-control" type="text" name="name" value="" placeholder="{% trans 'Search' %}" autocomplete>
                        </div>
                        <div class="col-md-6 talign-rigth" ng-show="checker.selectedDrugs.length > 1 && !loading">
                            <br/>
                            <a class="btn btn-header" ng-click="exportChecker()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> {% trans 'Export' %}</a>
                            <button data-toggle="modal" data-target="#checkerModal" ng-click="openSaveModal($event)" class="btn btn-header"><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans 'Save' %}</button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6" >
                            <div class="list-group-options row" ng-show="checker.selectedDrugs.length">
                                <div class="col-xs-6 col-sm-6">
                                    <div class="list-group-options-title">{% trans 'Drugs' %}</div>
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <div class="talign-rigth">
                                        <span class="chip chip-deletable">
                                            <span class="chip-text">{% trans 'Clear all' %}</span>
                                            <button ng-click="clearSelectedDrugs()" class="chip-action"><i class="material-icons">cancel</i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group list-group-site">
                                <div class="list-group-item" ng-repeat="drug in checker.selectedDrugs">
                                    <selected-drug model="drug" remove="removeSelectedDrug" index="$index"></selected-drug>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="jumbotron loading-box" ng-if="loading">
                                <div class="loading-icon row">
                                    <i class="fa fa-spinner fa-spin fa-4x fast-spin"></i>
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <div class="row">
                                    {% trans 'Looking for interactions' %}
                                </div>
                            </div>
                            <div ng-if="!loading">
                                <div ng-show="checker.selectedDrugs.length > 1">
                                    <div class="result-row">
                                        <span class="result-info">
                                            <ng-pluralize count="checker.interactions.length"
                                                          when="{'0': '{% trans 'No interactions found' %}',
                                                                 '1': '{} {% trans 'interaction found' %}',
                                                                 'other': '{} {% trans 'interactions found' %}'}">
                                            </ng-pluralize>
                                        </span>
                                    </div>
                                    <div class="list-group list-group-site">
                                        <div class="list-group-item" ng-repeat="interaction in checker.interactions | orderBy: 'type'">
                                            <interaction model="interaction" evidence-label="{% trans 'Evidence' %}" action-label="{% trans 'Action' %}"></interaction>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" ng-controller="SavedCheckerCtrl">
            <div class="box">
                <div class="box-title">
                    <h4>Minhas Interações</h4>
                </div>
                <div class="box-body">
                    <div class="list-group list-group-site">
                        <a class="list-group-item" ng-repeat="checker in savedCheckers">
                            <div ng-click="verifyInteraction(checker)">
                                <div class="list-group-item-heading">{[{ checker.title || 'Interação' }]}</div>
                                <p class="list-group-item-text"><i>{[{ checker.description }]}</i></p>
                                <p class="list-group-item-text">Medicamentos:</p>
                                <p class="list-group-item-text">
                                    <ul ng-class="{'two-columns': checker.selected_drugs.length > 3}">
                                        <li ng-repeat="drug in checker.selected_drugs">{[{ drug.name }]}</li>
                                    </ul>
                                </p>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block main_script %}
<!-- Global variable to hold language code -->
<script type="text/javascript">
    var language = "{{ request.LANGUAGE_CODE | safe }}";
</script>
<script src="/static/js/form.js" charset="utf-8"></script>
<!-- AngularJS -->
<script src="/static/libs/angular/angular.min.js" charset="utf-8"></script>
<script src="/static/libs/angular/angular-cookies.min.js" charset="utf-8"></script>
<!-- App -->
<script src="/static/drug/js/app.js" charset="utf-8"></script>
<!-- Controllers -->
<script src="/static/drug/js/controllers/MultipleDrugsCheckerCtrl.js" charset="utf-8"></script>
<script src="/static/drug/js/controllers/SavedCheckerCtrl.js" charset="utf-8"></script>
<!-- Directives -->
<script src="/static/drug/js/directives/autocomplete.js" charset="utf-8"></script>
<script src="/static/drug/js/directives/selectedDrug.js" charset="utf-8"></script>
<script src="/static/drug/js/directives/interaction.js" charset="utf-8"></script>
<!-- Filters -->
<script src="/static/drug/js/filters/replaceUnderscores.js" charset="utf-8"></script>
{% endblock %}
