{% load i18n %}

<div class="col-sm-4" ng-controller="SavedCheckerCtrl">
    <div class="box">
        <div class="box-title">
            <h4>Minhas Interações</h4>
        </div>
        <div class="box-body">
            <div class="list-group list-group-site">
                <a class="list-group-item" ng-repeat="checker in savedCheckers">
                    <div ng-click="verifyInteraction(checker)">
                        <div class="list-group-item-heading">{[{ checker.title || 'Interação' }]}</div>
                        <p class="list-group-item-text"><i>{[{ checker.description }]}</i></p>
                        <p class="list-group-item-text">Medicamentos:</p>
                        <p class="list-group-item-text">
                            <ul>
                                <li ng-repeat="drug in checker.selected_drugs">{[{ drug.name }]}</li>
                            </ul>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
