{% extends 'base.html' %}

{% block main_content %}
<div class="container">
    <div ng-app="drugInteractions">
        <div ng-controller="DrugInteractionsCheckerController">
            {[{ selectedDrug }]}
            <div class="box" >
                <div class="box-title">
                    Medicamentos conhecidos sdsdque interagem com Omeprazole
                    <input class="form-control" type="text" name="name" value="" placeholder="Pesquisar" autocomplete>
                </div>
                <div class="box-body">
                    <div class="jumbotron loading-box" ng-if="loading">
                        <div class="loading-icon row">
                            <i class="fa fa-spinner fa-spin fa-4x fast-spin"></i>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="row">
                            Looking for interactions
                        </div>
                    </div>

                    <table class="table table-site table-striped" ng-show="!loading">
                        <thead>
                            <tr>
                                <th class="sortable"><a href="">Medicamento</a></th>
                                <th class="sortable"><a href="">Severidade</a></th>
                                <th class="sortable"><a href="">Evidência</a></th>
                                <th class="sortable" style="width:500px"><a href="">Explicação</a></th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr ng-repeat="interaction in interactions">
                                 <td>{[{ ::interaction.other }]}</td>
                                 <td>{[{ ::interaction.type | replaceUnderscores }]}</td>
                                 <td>{[{ ::interaction.evidence  }]}</td>
                                 <td>{[{ ::interaction.explanation  }]}</td>
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}


{% block main_script %}
<!-- AngularJS -->
<script src="/static/libs/angular/angular.min.js" charset="utf-8"></script>
<script src="/static/libs/angular/angular-cookies.min.js" charset="utf-8"></script>
<!-- App -->
<script src="/static/drug/js/app.js" charset="utf-8"></script>
<!-- Controllers -->
<script src="/static/drug/js/controllers/DrugInteractionsCheckerController.js" charset="utf-8"></script>
<!-- Directives -->
<script src="/static/drug/js/directives/autocomplete.js" charset="utf-8"></script>
<script src="/static/drug/js/directives/selectedDrug.js" charset="utf-8"></script>
<script src="/static/drug/js/directives/interaction.js" charset="utf-8"></script>
<!-- Filters -->
<script src="/static/drug/js/filters/replaceUnderscores.js" charset="utf-8"></script>
{% endblock %}
