{% extends 'base.html' %}



{% block main_content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
            </div>
            <div class="col-md-5">
                <h3 class="talign-center">Comece agora mesmo</h3>
                <form action="">
                    <div class="row">
                        <div class="form-group col-xs-6 col-sm-6">
                            <input type="text" class="form-control" placeholder="Nome">
                        </div>
                        <div class="form-group col-xs-6 col-sm-6">
                            <input type="text" class="form-control" placeholder="Sobrenome">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6 col-sm-6">
                            <input type="password" class="form-control" placeholder="Senha">
                        </div>
                        <div class="form-group col-xs-6 col-sm-6">
                            <input type="password" class="form-control" placeholder="Confirme sua senha">
                        </div>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox">Concordo com os <a href=#>Termos do IntMed</a></label>
                    </div>
                    <button class="btn btn-system btn-full">Registre-se gratuitamente</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block main_script %}
<script type="text/javascript">
    $('#login-dropdown').on({
        'show.bs.dropdown': function () {
            remoteFunction('/{{ request.LANGUAGE_CODE }}/accounts/login', '#login-dp');
        },
        'hide.bs.dropdown': function () {
            $('#login-dp').html(
                $('<div>').addClass('loading-icon loading-icon-sm row talign-center')
                          .append($('<i>').addClass('fa fa-spinner fa-spin fa-4x fast-spin'))
                          .append($('<span>').addClass('sr-only').html('Loading...')))
        }
    });
</script>
{% endblock %}
