{% extends 'base.html' %}
{% load widget_attr %}
{% load i18n %}

{% block body_class %}hold-transition login-page{% endblock %}

{% block body %}
<div class="login-box">
    <div class="login-box-body">
        <!-- Logo -->
        <div class="login-logo">
            <object type="image/svg+xml" data="/static/img/sim_color.svg" height="100"></object>
        </div>
        <!-- Sign Up -->
        <div id="signup_container" style="display:none">
            <form id="signup_form" action="/{{ request.LANGUAGE_CODE }}/accounts/signup/" method="post">{% csrf_token %}
                <div class="form-group has-feedback has-feedback-fixed">
                    {{ signup_form.first_name | placeholder:signup_form.first_name.label }}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback has-feedback-fixed">
                    {{ signup_form.last_name | placeholder:signup_form.last_name.label }}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback has-feedback-fixed">
                    {{ signup_form.username | placeholder:signup_form.username.label }}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback has-feedback-fixed">
                    {{ signup_form.email | placeholder:signup_form.email.label }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback has-feedback-fixed">
                    {{ signup_form.password1 | placeholder:signup_form.password1.label }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback has-feedback-fixed">
                    {{ signup_form.password2 | placeholder:signup_form.password2.label }}
                    <span class="glyphicon glyphicon-repeat form-control-feedback"></span>
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Sign up' %}</button>
            </form>
            <p class="login-box-msg">{% trans 'Already have an account' %} ? <a id="login_link">{% trans 'Make Login' %}</a> </p>
        </div>
        <!-- Login -->
        <div id="login_container">
            <form id="login_form" action="/{{request.LANGUAGE_CODE}}/accounts/login/" method="post">{% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="__all__" value="">
                </div>
                <div class="form-group has-feedback has-feedback-fixed">
                    {{ signin_form.username | placeholder:signin_form.username.label  }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback has-feedback-fixed">
                    {{ signin_form.password | placeholder:signin_form.password.label  }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="login-helper">
                    <a href="#">{% trans 'Forget the password' %} ?</a>
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Login' %}</button>
            </form>
            <p class="login-box-msg">{% trans 'New here' %} ? <a id="signup_link">{% trans 'Join Us' %}</a></p>
        </div>
    </div>
</div>
{% endblock %}

{% block main_script %}
<script src="/static/js/form.js" charset="utf-8"></script>
<script src="/static/accounts/js/accounts.js" charset="utf-8"></script>
{% endblock %}
