{% load widget_attr %}
{% load i18n %}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ title }}</h4>
            <p>{{ subtitle }}</p>
        </div>
        <form id="modal_form" action="." method="post">{% csrf_token %}
            <div class="modal-body">
                {% for field in form %}
                    <div class="form-group">
                        {% if field.help_text %}
                        {{ field | placeholder:field.help_text }}
                        {% else %}
                        {{ field | placeholder:field.label }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                <button id="confirmBtn" type="submit" class="btn btn-system">
                    {% trans 'Save' %}
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
</div>
