{% load i18n %}
<header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
        <span class="logo-mini">
            <img src="/static/img/icon.png" width=40>
        </span>
        <span class="logo-lg">
            <img src="/static/img/logo.svg">
        </span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Navigation Toggle -->
        <!-- <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a> -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="app-menu-item {% if active == 'multiple'%}active{% endif %}">
                    <a href="/interactions/">
                        <img src="/static/img/pills.svg">
                    </a>
                </li>
                <li class="app-menu-item {% if active == 'single'%}active{% endif %}">
                    <a href="/interactions/single/">
                        <img src="/static/img/pill.svg">
                    </a>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <i class="glyphicon glyphicon-user"></i>
                        <span class="hidden-xs">{{ request.user.first_name }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <p>
                                {{ request.user.get_full_name }}
                                <small>{{ request.user.username }}</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a class="content-app" href="#"><i class="fa fa-lock"></i> Alterar senha</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a class="content-app" href="#"><i class="fa fa-pencil"></i> Editar Perfil</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a class="content-app" href="/accounts/logout"><i class="fa fa-power-off"></i> Sair</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
