{% load i18n %}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="info">
                <p>{{ request.user.first_name }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>


        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                    <li class="active"><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                </ul>
            </li>

            <li>
                <a href="/drug/">
                    <i class="fa fa-th"></i> <span>{% trans 'Drugs'%}</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green">1893</small>
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-connectdevelop"></i>
                    <span>{% trans 'Interactions' %}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/interactions/"><i class="fa fa-circle-o"></i> {% trans 'Multiple'%}</a></li>
                    <li><a href="/interactions/single"><i class="fa fa-circle-o"></i> {% trans 'Single' %}</a></li>
                </ul>
            </li>

            <li class="header">LABELS</li>
            <li><a href="http://intmed.com.br"><i class="fa fa-edge"></i> <span>{% trans 'Site' %}</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
